*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body{
font-weight: normal;
font-style: normal;
color: var(--body);
font-size: 16px;
@include bodyfont;
}
img{
  max-width: 100%;
  height: auto;
}
.f-right{
  float: right;
}
.f-left{
  float: left;
}
.fix{
  overflow: hidden;
}
.static{
  position: static;
}
.uppercase{
  text-transform: uppercase;
}
.capitalize{
  text-transform: capitalize;
}
.rlt{
  position: relative;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  @include headfont;
  font-weight: normal;
  color: var(--pra);
  margin-top: 0;
  font-style: normal;
  font-weight: 700;
  text-transform:normal;
  line-height: 1.3;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
  color:inherit;
  text-decoration: none;
}
  
h1{
  font-size: 40px;
}
h2{
  font-size: 35px;
}
h3{
  font-size: 28px;
}
h4{
  font-size: 22px;
}
h5{
  font-size: 18px;
}
h6{
  font-size: 16px;
}
a{
  text-decoration: none;
}
p{
  font-size: 16px;
  font-weight: normal;
  line-height: 160%;
  color: var(--pra);
  margin-bottom: 0;
  @include headfont;
}
.background-size{
  background-size: cover;
  background-position: center;
}